{% extends 'layouts/default.njk' %}
<!-- common template -->


{%- block cssx -%}
  <!-- card ui css needed -->
  <link rel="stylesheet" href="/styles/cards.min.css">
  <link rel="stylesheet" href="/styles/photoswipe.css">
{%- endblock -%}


{%- block scripts -%}
  <!-- Facebook snippet renderer and more -->
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
 
  <!-- cards -->
  <script src="/scripts/cards.min.js"></script>
  
  <!-- video reframer -->
  <script src="/scripts/lib/reframe.js"></script>
 
  <!-- images loaded -->
  <script src="/scripts/lib/imagesloaded.pkgd.js"></script>

  <!-- Photoswipe -->
  <script src="/scripts/lib/photoswipe.js"></script>
  
  <!-- Photoswipe UI -->
  <script src="/scripts/lib/photoswipe-ui-defaults.js"></script>
  
  <!-- lightbox --> 
  <script src="/scripts/lightbox.js"></script>
  
  <!-- main loader --> 
  <script src="/scripts/main.js"></script> 
    
{%- endblock -%}     

{%- block lightbox -%}
  <!-- lightbox layout needed -->
  {% include "partials/lightbox.njk" %}
{%- endblock -%}
