{% extends 'layouts/default.njk' %}
<!-- common template -->


{%- block cssx -%}
  <!-- card ui css needed -->
  {% set cardcss %}{% include "css/cards.min.css" %}{% endset %}
  <style>{{ cardcss | cssmin | safe }}</style>

  {% set css %}{% include "css/photoswipe.css" %}{% endset %}
  <style>{{ css | cssmin | safe }}</style>
{%- endblock -%}


{%- block scripts -%}
  <!-- card scripts needed -->

  <!-- cards start -->
  {% set libjs %}{% include "js/cards.min.js" %}{% endset %}
  <script>{{ libjs | safe }}</script>
  <!-- cards end -->

  <!-- video reframer start -->
  {% set libjs %}{% include "js/lib/reframe.js" %}{% endset %}
  <script>{{ libjs | safe }}</script> 
  <!-- reframer end -->

  <!-- images loaded start -->
  {% set libjs %}{% include "js/lib/imagesloaded.pkgd.js" %}{% endset %}
  <script>{{ libjs | safe }}</script> 
  <!-- images loaded end -->

  <!-- Photoswipe start -->
  {% set libjs %}{% include "js/lib/photoswipe.js" %}{% endset %}
  <script>{{ libjs | safe }}</script> 
  <!-- Photoswipe end -->

  <!-- Photoswipe UI start -->
  {% set libjs %}{% include "js/lib/photoswipe-ui-defaults.js" %}{% endset %}
  <script>{{ libjs | safe }}</script> 
  <!-- Photoswipe UI end -->

  <!-- lightbox start -->  
  {% set lightboxjs %}{% include "js/lightbox.js" %}{% endset %}
  <script>{{ lightboxjs | safe }}</script> 
  <!-- lightbox end -->

  <!-- main loader start -->  
  {% set mainjs %}{% include "js/main.js" %}{% endset %}
  <script>{{ mainjs | safe }}</script> 
  <!-- main end -->
    
{%- endblock -%}     

{%- block lightbox -%}
  <!-- lightbox layout needed -->
  {% include "partials/lightbox.njk" %}
{%- endblock -%}
