---
title: FASA Star Trek
tags: 
  - games
  - star-trek
fighters: no
campaign: no
design: yes
boarding: yes
fow: yes
generic: no
movement: hexmap
scale: squadron
complexity: 4
link: fasaststcs.com
---