<!-- pagination -->
{% if pagination.previousPageHref or pagination.nextPageHref %}
<nav class="pagination" role="pagination">
  {% if page.permalink != pagination.previousPageHref %}
    <a href="{{ pagination.previousPageHref }}">&laquo; Back</a>
  {% else %}
    <span>&laquo; Back</span>
  {% endif %}
  {% if page.permalink != pagination.nextPageHref %}
    <a href="{{ pagination.nextPageHref }}">More &raquo;</a>
  {% else %}
    <span>More &raquo;</span>
  {% endif %}
</nav>
{% endif %}
